$top: 18px;

.forecast-list {
  margin: 32px 0;
}

.forecast-day {
  position: relative;
  height: 62px;

  &.opened {
    height: 220px;
  }

}

hr {
  position: absolute;
  top: 64px;
}

.day-header {

  .skycon-small {
    position: absolute;
    height: 40px;
    width: 80px;
    left: -8px;
  }

  .week-day {
    position: absolute;
    font-weight: 200;
    font-size: 16px;
    padding: 0;
    left: 72px;
    top: $top;
  }

  .avg {
    position: absolute;
    top: $top;
    right: 48px;
    font-weight: 200;
  }

  .fa {
    position: absolute;
    top: $top;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
  }
}

.day-content {
  position: relative;
  margin-top: 56px;

  .description {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 200;
    position: absolute;
  }

  .table {
    display: inline;
    position: absolute;
    font-size: 16px;
    font-weight: 200;
    top: 42px;

    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }

    tr {
      height: 32px;

      td:nth-child(1) { width: 72px; }
      td:nth-child(2) { width: 96px; }
    }

  }

  .sparkline {
    position: absolute;
    width: 98px;
    left: 380px;
    font-weight: 200;

    @media screen and (max-width: 544px) {
      display: none;
    }
  }

}
