.search-container {
  padding-top: 24px;

  @include media-breakpoint-down(xs) {
    padding: 24px 12px 0 12px;
  }
}

.input-group-btn button,
.search-group input {
  border-color: #333 !important;
}

.search-group input {
  min-width: 400px;
  @include media-breakpoint-down(sm) {
    min-width: 360px;
  }
  @include media-breakpoint-down(xs) {
    min-width: 200px;
    padding: 0 24px;
  }
}

button {
  cursor: pointer;

  &:active,
  &:hover {
    color: #333 !important;
    background-color: darken($primary-yellow, 2%) !important;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.btn-find {
  color: #333;

  .fa {
    color: #333;
    margin-right: 6px;
  }
  @include media-breakpoint-up(sm) {
    margin-left: 6px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 6px;
  }
}
