@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome.scss';

$fa-font-path: '../fonts';
$primary-yellow: #FFD400;

@import './components/header';
@import './components/search';
@import './components/current';
@import './components/day';

body {
  margin: 0;
  padding: 0;
}

.bg {
  position: absolute;
  background-color: $primary-yellow;
  height: 320px;
  width: 100%;
  z-index: -1;

  @include media-breakpoint-down(xs) {
    height: 360px;
  }
}
